<div class="copy">
    <div class="w1200 cb cc">
        <div class="copy-nav fl">
            <dl>
                <dt>用户指南</dt>
                <dd><a href="">如何注册</a></dd>
                <dd><a href="">如何注册</a></dd>
                <dd><a href="">如何注册</a></dd>
            </dl>
            <dl>
                <dt>用户指南</dt>
                <dd><a href="">如何注册</a></dd>
                <dd><a href="">如何注册</a></dd>
                <dd><a href="">如何注册</a></dd>
            </dl>
            <dl>
                <dt>用户指南</dt>
                <dd><a href="">如何注册</a></dd>
                <dd><a href="">如何注册</a></dd>
                <dd><a href="">如何注册</a></dd>
            </dl>
        </div>
        <div class="fr ewn">
            <div class="img">
                <img src="#" width="100px" height="100px" alt="">
            </div>
            <p>扫一扫,关注我们</p>
        </div>
    </div>
</div>