<!--top-->
<div class="top">
    <div class="w1200 cc cb">
        <div class="fl top-left">
            <a href="/"><i></i></a>欢迎来到云采网，请<a href="{:url('user/login')}" class="t-login">登录</a><a href="{:url('user/register')}">免费注册</a>
        </div>
        <div class="fr top-right">
            <ul>
                <li class="menu toggle toggle-1">
                    <a href="/workroom/index">我的工作台<i class="up"></i></a>
                    <div class="top-right-slideNav db-a">
                        <a href="">我的项目</a>
                        <a href="">交易记录</a>
                        <a href="">我的账单</a>
                    </div>
                </li>
                <li class="menu"><a href="#">消息</a></li>
                <li class="menu"><a href="#">帮助中心</a></li>
                <li class="menu toggle toggle-1">
                    <a href="#">网站导航</a>
                    <div class="top-right-slideNav db-a">
                        <a href="#">四川能投</a>
                        <a href="#">物产集采平台</a>
                        <a href="#">鑫能裕丰</a>
                        <a href="#">租租网</a>
                    </div>
                </li>
                <li class="menu menu-tel">热线电话：<em>028-62507727</em></li>
            </ul>
        </div>
    </div>
</div>
<!--top-->
<!--header-->
<div class="header w1200 cc">
    <a class="logo fl" href="#"><img src="/static/home/img/logo.png" alt=""></a>
    <div class="fr mainNav-wrap">
        <ul class="fl fl-li mainNav">
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#">找资金</a></li>
            <li><a href="#">找货</a></li>
            <li><a href="#">找车</a></li>
        </ul>
        <div class="fr menu">
            <a href="#"><i></i>我的工作台</a>
        </div>
    </div>
</div>
<!--header-->