<!DOCTYPE html>
<html lang="en">
<head>
    {include file='public/head'}
    <title>首页</title>
</head>
<body>
{include file="public/top"}
<div class="banner" id="banner">
    {include file='public/banner'}
</div>
{include file="public/foot"}
{include file="public/notice"}
<div class="mod8 w1200 cc oh">
<ul class="w120 fl-li cb">
    <li>
        <i class="li"></i>
        <span>财货快</span>
        <p>白条支付、先提货后付款</p>
    </li>
    <li>
        <i class="li"></i>
        <span>财货快</span>
        <p>白条支付、先提货后付款</p>
    </li>       <h2>先提货</h2>
    <li>        <h2>先提货</h2>
        <i class="li"></i>
        <span>财货快</span>
        <p>白条支付、先提货后付款</p>
    </li>
    <li>
        <i class="li"></i>
        <span>财货快</span>
        <p>白条支付、先提货后付款</p>
    </li>
</ul>
</div>
<!--mod9-->
<div class="mod9 w1200 cc pr">
    <img src="/static/home/img/mod9.jpg" width="1200" height="230" alt="">
    <div class="pa mod-sumary">
        <h2>先提货&nbsp;在线查询物流状态</h2>
        <h4>优质货源&nbsp;代找运输&nbsp;物流查询</h4>
    </div>
</div>
<!--mod9-->
<!--mod10-->
<div class="mod10 w1200 cc pr">
    <img src="/static/home/img/mod10.jpg" width="1200" height="230" alt="">
    <div class="pa mod-sumary">
        <h2>先提货&nbsp;在线查询物流状态</h2>
        <h4>优质货源&nbsp;代找运输&nbsp;物流查询</h4>
    </div>
</div>
<!--mod10-->
<!--mod11-->
<div class="mod11 w1200 cc pr">
    <img src="/static/home/img/mod11.jpg" width="1200" height="230" alt="">
    <div class="pa mod-sumary">
        <h2>先提货&nbsp;在线查询物流状态</h2>
        <h4>优质货源&nbsp;代找运输&nbsp;物流查询</h4>
    </div>
</div>
<!--mod11-->
<!--mod12-->
<div class="mod12 w1200 cc pr">
    <h2>
        白条申请流程
        <a href="#" class="btn">点击申请</a>
    </h2>
    <div class="inner-progress w1200"></div>
</div>
<!--mod12-->
<!--mod13-->
<div class="mod13 ">
    <h2>申请状态</h2>
    <ul class="w1200 cc ib-li ">
        <li>
            <span class="total">2323</span>
            <p class="text">成功解决项目融资需求（个）</p>
        </li>
        <li>
            <span class="total">2323</span>
            <p class="text">成功解决项目融资需求（个）</p>
        </li>
        <li>
            <span class="total">2323</span>
            <p class="text">成功解决项目融资需求（个）</p>
        </li>
    </ul>
</div>
<!--mod13-->
{include file='public/copy'}
{include file='public/sidebar'}
</body>
</html>